@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url(img/fundal.jpg);
    background-size: cover; 
  }
  *{
    font-family: "Poppins", sans-serif;
  }
  .container {
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .form-box {
    display: block;
  }
  
  .create-account-box {
    display: none;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 80%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    width: 90%;
    padding: 10px;
    background-color: #af4ca8;
    color: #fff;
  }  
  nav {
    background-color: #f0d8c1;
  }
  
  nav ul {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
  }
  
  nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  nav a:hover {
    background-color: #979090;
    color: #262525;
  }